@import "../globals/globals";

@keyframes vibrate {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(0, 0); }
    75% { transform: translate(5px, -5px); }
    100% { transform: translate(0, 0); }
  }

.heroSectionCont{
    display: flex !important;
    min-height: 100vh;
    // background: $navbar-bg;
    align-items: center !important;

    .heroSection{
        align-items: center;
        height: fit-content;
        flex-wrap: nowrap; 
        @include sections;
        
        .heroPicCont{
            .heroPic{
                width: 100%;
                height: auto;
                filter: drop-shadow(-10px 10px 14px rgb(0, 0, 0, 0.5));
                // transition: all 0.2s ease-in-out;
                &:hover{
                    animation: vibrate 0.5s linear infinite;
                }
            }
        }
        .intro{
            .introBox{
                .introName{
                    font-family: $font;
                    color: $text-color;
                    font-weight: 600;
                    font-size: 1.5rem;
                    span{
                        color: $accent;
                    }
                    @include break{
                        font-size: 1.3rem;
                        text-align: center;
                    }
                }
                
            }
            .introTitleBox{
                margin-bottom: 2rem;
                .introTitle{
                    font-family: $font;
                    color: $text-color;
                    font-size: 4.5rem;
                    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                    span{
                        color: $accent;
                    }
                    @include break{
                        font-size: 3.5rem;
                        text-align: center;
                    }
                }
            }
            .introLinksBox{
                display: inline-flex;
                align-items: center;
                width: 100%;
                @include break{
                    font-size: 1.3rem;
                    justify-content: center;
                }
                // .myLinks:hover{
                //     transform: translateY(-2px) scale(1.1);
                // }

                .myProject{
                    font-family: $font;
                    background: $accent;
                    padding: 0.8rem 2.4rem;
                    color: $white;
                    font-weight: 600;
                    border-radius: 6px;
                    margin-right: 1rem;
                    font-size: 1.6rem;
                    display: inline-flex;
                    align-items: center;
                    transition: all .2s ease-in-out;
                    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
                    @include break{
                        font-size: 1.3rem;
                        text-align: center;
                    }
                }
                // .myProject:hover{
                //     transform: translateY(-2px) scale(1.1);
                // }
            }
        }

    }

}