// .section{
//     background-color: $navbar-bg;
//     max-width: 1200px;
//     position: relative;
//     margin: 0 auto;
//     width: 100%;
//     font-family: $font;
// }
.title{
    font-family: $font;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
    font-size: 3.5rem;
    color: $text-color;
    font-weight: 800;
    margin-top: 2rem;
}