@import './globals/globals';
html{
    scroll-behavior: smooth;
}

body{
    background: $navbar-bg;
    &.dark{
        background: #1b1818;
        p,h1{
            color: white !important;
        }
    }
}
