@import "../globals/globals";
// $navbar-height: 3.5rem;
// $navbar-color: #333;
// $navbar-text-color: #fff;
// $navbar-hover-color: #555;


:global(#app){
  .navCont{
    .navbar {
      display: flex ;
      align-items: center;
      padding: 2rem 0;
      box-shadow: none;
      border: none;
      z-index: 999999;
      @include sections;

      .column{
        padding-left: 0;
      }

      .navbarBrand {
        font-size: 2.5rem;
        font-weight: 900;
        cursor: pointer;
        color: $text-color;
        font-family: $font;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
        span{
          color: $accent;
        }
        @include break{
          // padding-top: 1rem;
        }
      }
      
      .navbarMenu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include break{
          display: none;
        }
        .navbarItem {
          margin: 0 0.5rem;
          cursor: pointer;
          font-weight: bold;
          color: $text-color;
          font-family: $font;
          .navbarItemLink{
            margin: 0 0.5rem;
            cursor: pointer;
            font-weight: bold;
            color: $text-color;
            font-family: $font;
            font-size: 1.3rem;
            &:hover {
              color: $accent;
            }
          }
          .modeToggler{
            cursor: pointer;
            background: transparent;
            color: $text-color;
            padding: 0;
            .hideButton{
              display: none;
            }
          }
        }

    }
    .sideTogglerCol{
      .sideToggler{
        display: none;
        background: transparent;
        color: $text-color;
        padding: 0 !important;
        margin-right: 0 !important;
        // border: 1px solid $text-color;
        @include break{
          display: inline-block;
        }
      }
    }
  }
}

}

