@import "../globals/globals";
// $navbar-height: 3.5rem;
// $navbar-color: #333;
// $navbar-text-color: #fff;
// $navbar-hover-color: #555;


:global(#app){
  .navCont{
    position: sticky;
    background-color: $navbar-bg;

    .navbar {
      background-color: $navbar-bg;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 1rem;
      box-shadow: none;
      border: none;
      max-width: 1200px;
      position: relative;
      margin: 0 auto;
      z-index: 999999;
      
      .navbarBrand {
        font-size: 2.5rem;
        font-weight: 900;
        cursor: pointer;
        color: $text-color;
        font-family: $font;
        display: flex;
        align-items: center;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
        span{
          color: $accent;
        }
      }
      
      .navbarMenu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        .navbarItem {
          margin: 0 0.5rem;
          cursor: pointer;
          font-weight: bold;
          color: $text-color;
          font-family: $font;
          .navbarItemLink{
            margin: 0 0.5rem;
            cursor: pointer;
            font-weight: bold;
            color: $text-color;
            font-family: $font;
            font-size: 1.3rem;
            &:hover {
              color: $accent;
            }
          }
          .modeToggler{
            cursor: pointer;
            background: transparent;
            color: $text-color;
            padding: 0;
            .hideButton{
              display: none;
            }
          }
        }

    }
    // @media only screen and (max-width: 767px) {
    //   flex-direction: column;

    //   .navCont{
    //     margin-left: 0 !important;
    //     margin-right: 0 !important;
    //   }
    //   .navbarBrand {
    //     margin-bottom: 1rem;
    //   }
    //   .navbarMenu {
    //     margin-top: 1rem;
    //   }
    // }
  }
}

}

