@import '../globals/globals';

.footerCont{
    background-color: $navbar-bg;
    .footer{
        height: fit-content;
        padding: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include sections;
        .author{
            font-size: 1.2rem;
            font-weight: 600;
            color: $text-color;
            @include break{
                font-size: 1rem;
            }
            .noHigh{
                font-size: 2rem;
                font-weight: 800;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                .High{
                    color: $accent;
                }
                @include break{
                    font-size: 1.5rem;
                }
            }
        }
    }
}