@import '../globals/globals';

.aboutCont{
    background: $navbar-bg;
    min-height: 100vh;
    
    .about{
        background-color: $navbar-bg;
        max-width: 1200px;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: fit-content;
        font-family: $font;

        .abtTitleBox{
            max-width: 1200px;
            position: relative;
            margin: 0 auto;
            width: 100%;
            padding: 2rem 0;
            .abtTitle{
                font-family: $font;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                font-size: 3.5rem;
                color: $text-color;
                font-weight: 800;
                display: block;
            }
        }
        
        .abtSection{
            height: fit-content;
            display: flex;
    
            .abtBox{
                width: 70%;
                border: 2px solid rgba(1,27,73, 0.089);
                border-radius: 20px;
                margin-right: 1rem;
                padding: 3rem;
                background: rgba(1,27,73, 0.032);
    
                .abtHead{
                    text-align: center;
                    font-family: $font;
                    font-size: 2.2rem;
                    color: $text-color;
                    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                }
                .aboutText{
                    text-indent: 10%;
                    text-align: justify;
                    font-size: 1.3rem;
                    font-weight: 500;
                    font-family: $font;
                }
            }
            .abtImgBox{
                width: 30%;
                margin-left: 1rem;
                overflow: hidden;
                border-radius: 20px;
                border: 2px solid rgba(1,27,73, 0.089);
                .abtImg{
                    width: 100%;
                    height: 100%;
                    transition: 0.3s all ease-in-out;
                }
                &:hover{
                    .abtImg{
                        transform: scale(1.1);
                        border-radius: 20px;
                    }
                }
            }
    
        }

        .interestSection{
            margin-top: 2.5rem;
            .abtHead{
                text-align: center;
                font-family: $font;
                font-size: 2.2rem;
                color: $text-color;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
            }
            .abtGrid{
                margin: 1.5rem 0;
                .abtGridCols{
                    .interest{
                        display: flex;
                        background: rgba(1, 27, 73, 0.2);
                        align-items: center;
                        padding: 1rem;
                        border-radius: 10px;
                        .intIcon{
                            margin: 0 1rem 0 0;
                            svg{
                                font-size: 1.8rem;
                            }
                        }
                        .intName{
                            color: $text-color;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }

                    }

                }
            }
        }

        .skillSection{
            padding: 2.5rem 0;
            .abtHead{
                text-align: center;
                font-family: $font;
                font-size: 2.2rem;
                color: $text-color;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
            }
            .skillGrid{
                margin: 1.5rem 0;
                .skillGridCols{
                    .skill{
                        display: flex;
                        background: rgba(1, 27, 73, 0.2);
                        align-items: center;
                        padding: 1rem;
                        justify-content: center;
                        border-radius: 10px;
                        .intIcon{
                            margin: 0 1rem 0 0;
                            svg{
                                font-size: 2rem;
                            }
                        }
                        .intName{
                            color: $text-color;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }

                    }

                }
            }

        }

    }
}