@import '../globals/globals';

.aboutCont{
    // background: $navbar-bg;
    min-height: 100vh;
    
    .about{
        height: fit-content; 
        @include sections;

        .abtTitleBox{
            padding: 2rem 0;
            .abtTitle{
                font-family: $font;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                font-size: 3.5rem;
                color: $text-color;
                font-weight: 800;
                display: block;
                @include break{
                    font-size: 3rem;
                    text-align: center;
                }
            }
        }
        
        .abtSection{
            height: fit-content;
            flex-wrap: nowrap;

            .abtBox{
                border: 2px solid rgba(1,27,73, 0.089);
                border-radius: 20px;
                padding: 3rem;
                background: rgba(1,27,73, 0.032);
                height: 100%;
                @include break{
                    padding: 1.5rem;
                }
                .abtHead{
                    text-align: center;
                    font-family: $font;
                    font-size: 2.2rem;
                    color: $text-color;
                    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                    @include break{
                        display: none;
                    }
                }
                .accAbout{
                    text-align: center;
                    display: none;
                    @include break{
                        display: block;
                    }
                    .accHead{
                        display: inline;
                        font-family: $font;
                        font-size: 1.8rem;
                        color: $text-color;
                        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                    }
                    .accImg{
                        width: 50%;
                        height: auto;
                        border: 2px solid rgba(1,27,73, 0.089);
                        border-radius: 10px;
                    }
                }

                .aboutText{
                    text-indent: 10%;
                    text-align: justify;
                    font-size: 1.3rem;
                    font-weight: 500;
                    font-family: $font;
                    @include break{
                        font-size: 1rem;
                    }
                }
            }
            .abtImgBox{
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 20px;
                border: 2px solid rgba(1,27,73, 0.089);
                padding: 0;
                
                .abtImg{
                    width: 100%;
                    height: 100%;
                    transition: 0.3s all ease-in-out;
                    object-fit: cover;
                }
                &:hover{
                    .abtImg{
                        transform: scale(1.1);
                        border-radius: 20px;
                    }
                }
            }
    
        }
        .interestSection, .skillSection{
            margin-top: 2.5rem;
            overflow: hidden;

            .abtHead{
                text-align: center;
                font-family: $font;
                font-size: 2.2rem;
                color: $text-color;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
                @include break{
                    font-size: 1.8rem;
                }
            }
            .abtGrid, .skillGrid{
                margin: 1.5rem 0;
                .abtGridCols, .skillGridCols{
                    .interest, .skill{
                        display: flex;
                        background: rgba(1, 27, 73, 0.2);
                        align-items: center;
                        justify-content: center;
                        padding: 1rem 1.5rem;
                        border-radius: 10px;
                        @include break{
                            padding: 0.5rem 1rem;
                            border-radius: 6px;
                        }
                        .intIcon{
                            margin: 0 0.5rem 0 0;
                            svg{
                                font-size: 1.5rem;
                                @include break{
                                    font-size: 1.2rem;
                                }
                            }
                        }
                        .intName{
                            color: $text-color;
                            font-size: 1.2rem;
                            font-weight: 600;
                            @include break{
                                font-size: 1rem;
                            }
                        }

                    }

                }
            }
        }
    }
}